input.mini-input {
  height: 10px;
  margin-bottom: auto;
  padding: 15px 0;
  text-align: center;
}

label.inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#logo {
  height: 60px;
  vertical-align: bottom;
}
#version {
  color: lightgray;
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  transform: translateY(6px);
}
